doctype 5
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      a(href='/')
        img(src='/images/logo-sml.png', alt='Dischost')
      nav
        ul
          li Login
          li Search
    div#container
      block content