extends layoutlogout

block content
  div#login
    h1 Login
    form(action="/loginuser", method="POST")
      label(for="username") Username:
      input#username.std-input(type="text", name="username")
      br
      label(for="password") Password:
      input#password.std-input(type="password", name="password")
      br
      button(class="submitbtn", role="button") Login
      br