extends layout

block content
  script(src="/javascripts/searchpage.js")
  h1.centre-head Search
  div#search
    p#user-p Users
    p#music-p Music Titles
    br
    img#user-img.search-img(src="/images/avatar.png", alt="User", height="150px", width="150px")
    img#music-img.search-img(src="/images/default.png", alt="Music", height="150px", width="150px")
    form#search-form(method="POST", action="")
      input#search-box(type="search", name="searchterm", results="5")
      br
      button(class="submitbtn", role="button") Search
      br