extends layout

block content
  div#signupform
    h1 Sign up
    form(action="/newuser", method="POST")
      label(for="username") Username:
      input#username.std-input(type="text", name="username")
      br
      label(for="email") Email:
      input#email.std-input(type="email", name="email")
      br
      label(for="country") Country:
      select#country(name="country", value="Please Select...")
        each country in countryList
          option(value="#{country}") #{country}
      span.select-arrow
      br
      label(for="password") Password:
      input#password(type="password", name="password")
      br
      label#confirm(for="confirm") Confirm:
      input(type="password", name="confirm")
      br
      button(class="submitbtn", role="button") Create Account
      br
  div.errormsgs
    h3  - you must:
    ul
      li Enter a valid username
      li Enter a valid Email
      li Select a country
      li Enter a valid password
      li Make sure your passwords match
  div#records
    img(src='/images/records.png', alt='Dischost Logo')
      