body {
  font: 14px Helvetica, Arial, sans-serif;
  background-color: #1E1E1E;
  color: #fff;
}

/***********TYPOGRAPHY************/

h1 {
	font-size: 2em;
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: 20px;
}

h2 {
	font-size: 1.5em;
	margin-bottom: 15px;
}

h3 {
	font-size: 1.3em;
	margin-bottom: 20px;
}

a {
  color: #00B7FF;
}

.bold {
	font-weight: bold;
}

.lge-head {
	font-size: 3em;
}

/***********GENERIC************/

#container {
	width: 960px;
	margin: 0 auto;
}

.left {
	float: left;
}

.right {
	float: right;
}

#container-sml {
	width: 740px;
	margin: 0 auto;
}

/***********FORMS************/

/*form {
	padding: 30px 20px 40px 20px;
	border: 5px solid #828282;
	border-radius: 20px;
	background-color: #141414;
}*/

label {
	float: left;
	text-align: left;
	width: 100px;
	padding-top: 10px;
}

input[type=text],
input[type=email],
input[type=password],
select, 
textarea {
	border: 2px solid white;
	border-radius: 5px;
  box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.3),
          0 0 16px rgba(0,0,0,0.3);
  padding: 7px;
  background: rgba(255,255,255,0.8);
  margin: 0 0 15px 0;
  width: 200px;
  outline: none;
} 

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
select:focus, 
textarea:focus {
	border: 2px solid #00B7FF;
}

select {
	width: 218px;
}

textarea {
  resize: none;
}

.submitbtn {
	border: 2px solid #ddd;
	border-radius: 3px;
	font: bold 14px Helvetica, Arial, sans-serif;
	padding: 6px 10px;
	white-space: nowrap;
	vertical-align: middle;
	color: #1E1E1E;
	cursor: pointer;
	float: right;
	box-shadow: 
	inset 0 0 8px  rgba(0,0,0,0.3),
	      0 0 16px rgba(0,0,0,0.3);
  background: rgba(255,255,255,0.5);
}

.submitbtn:hover, .submitbtn:focus {
	border-color: #00B7FF;
	color: #00B7FF;
}

.submitbtn:active {
	border: 1px solid #aaa;
	color: #aaa;
}

.errormsgs {
	/*visibility: hidden;*/
	color: red;
	background-color: #fff;
	border: 2px solid red;
	border-radius: 5px;
	padding: 10px 10px 3px 10px;
	float: left;
	margin: 95px 0 0 50px;
	visibility: hidden;
}

.errormsgs h3 {
	margin-bottom: 10px;
}

.errormsgs li {
	list-style-type: none;
	padding-bottom: 7px;
	font-size: 13px;
	display: block;
}

/***********HEADER************/

header {
	background-color: #000;
	color: #fff;
	border-bottom: #fefefe solid 1px;
	overflow: hidden;
	padding: 15px 0 10px 15px;
}

header a {
	float: left;
}

nav {
	float: right;
}

nav li {
	display: inline-block;
	margin-right: 15px;
}

nav a {
	text-decoration: none;
	color: #fff;
}

nav a:hover {
	color: #00B7FF;
}

/***********LANDING PAGE************/

#mainlogo {
	width: 461px;
	text-align: center;
	margin: 0 auto;
}

#mainlogo img {
	margin: 40px 0 20px 0;
}

#mainlogo p {
	margin-bottom: 20px;
}

/***********FORM PAGES************/

#signupform,
#edituserform,
#addmusicform {
	float: left;
}

#signupform h1,
#edituserform h1,
#addmusicform h1 {
	text-align: center;
	margin: 30px 0 30px 0;
}

#records {
	float: left;
	margin: 80px 0 0 0;
}

/***********SUCCESS PAGE************/

#success {
	margin-top: 200px;
	text-align: center;
}

#success p {
	margin-top: 20px;
}

/***********LOGIN PAGE************/

#login {
	width: 345px;
	margin: 150px auto 0 auto;
	border: 2px solid #ddd;
	border-radius: 30px;
	padding: 20px 20px 40px 20px;
	background-color: #191919;
}

#login h1 {
	text-align: center;
	margin-bottom: 20px;
}

/***********USER DASH************/

#user {
	border: 8px solid #ddd;
	border-radius: 10px;
	padding: 20px;
	background-color: #444444;
	margin: 20px 0 0 0;
	overflow: auto;
	box-shadow: 
	inset 0 0 20px  rgba(0,0,0,0.6),
	      0 0 40px rgba(0,0,0,0.6);
  background: rgba(255,255,255,0.5);
}

#user img {
	float: left;
	margin: 0 20px 0 0;
}

#user-details {
	color: #212121;
	float: left;
}

#add-release {
	width: 100px;
	height: 200px;
	float: right;
	color: #fff;
	box-shadow: 
	inset 0 0 20px  rgba(0,0,0,0.6);
  background: rgba(0,183,255,0.5);
  border-radius: 5px;
  position: relative;
}

#add-release a {
	color: #fff;
	text-decoration: none;
	text-align: center;
}

#add-release a:hover {
	color: #212121;
}

#add-release a:active {
	color: #444444;
}

#add-release span {
	position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.plus {
	font-size: 4em;
	font-weight: bold;
	margin-top: 30px;
}

.add-rel-txt {
	font-size: 1.8em;
}

/***********EDIT USER PAGE************/

#upload-av {
	width: 200px;
	padding: 20px;
	background-color: #DEDEDE;
	float: left;
	color: #000;
	border-radius: 5px;
	margin: 95px 0 0 50px;
}

#upload-av img {
	margin-bottom: 10px;
}

.editlink {
	margin: 9px 0 0 100px;
}