body {
  font: 14px Helvetica, Arial, sans-serif;
  background-color: #1E1E1E;
  color: #fff;
}

/***********TYPOGRAPHY************/

h1 {
	font-size: 2em;
	margin-bottom: 20px;
	color: #fff;
	letter-spacing: -2px;
}

h2 {
	font-size: 1.5em;
	margin-bottom: 15px;
}

h3 {
	font-size: 1.3em;
	margin-bottom: 20px;
}

a {
  color: #0078A6;
}

.bold {
	font-weight: bold;
}

.lge-head {
	font-size: 3em;
	margin: 0 0 12px 0;
}

.dark {
	color: #212121;
	margin-bottom: 4px;
}

/***********GENERIC************/

#container {
	width: 960px;
	margin: 0 auto;
}

.left {
	float: left;
}

.right {
	float: right;
}

#container-sml {
	width: 740px;
	margin: 0 auto;
}

/***********FORMS************/

label {
	float: left;
	text-align: left;
	width: 100px;
	padding-top: 10px;
}

.std-input,
input[type=email],
input[type=password],
input[type=search],
select, 
textarea {
	border: 2px solid white;
	border-radius: 5px;
  box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.3),
          0 0 16px rgba(0,0,0,0.3);
  padding: 7px;
  background: rgba(255,255,255,0.8);
  margin: 0 0 15px 0;
  width: 200px;
  outline: none;
} 

.std-input:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=search]:focus,
select:focus, 
textarea:focus {
	border: 2px solid #00B7FF;
}

select, input[type=search] {
	-webkit-appearance: none;
}

select {
	width: 218px;
	background: url(../images/select-arr.png) no-repeat right rgba(255,255,255,0.8);
}

textarea {
  resize: none;
}

.submitbtn {
	border: 2px solid #ddd;
	border-radius: 3px;
	font: bold 14px Helvetica, Arial, sans-serif;
	padding: 6px 10px;
	white-space: nowrap;
	vertical-align: middle;
	color: #1E1E1E;
	cursor: pointer;
	float: right;
	box-shadow: 
	inset 0 0 8px  rgba(0,0,0,0.3),
	      0 0 16px rgba(0,0,0,0.3);
  background: rgba(255,255,255,0.5);
}

.submitbtn:hover, .submitbtn:focus {
	border-color: #00B7FF;
	color: #00B7FF;
}

.submitbtn:active {
	border: 1px solid #aaa;
	color: #aaa;
}

.errormsgs {
	visibility: hidden;
	color: red;
	background-color: #fff;
	border: 2px solid red;
	border-radius: 5px;
	padding: 10px 10px 3px 10px;
	float: left;
	margin: 95px 0 0 50px;
}

.errormsgs h3 {
	margin-bottom: 10px;
}

.errormsgs li {
	list-style-type: none;
	padding-bottom: 7px;
	font-size: 13px;
	display: block;
}

/***********HEADER************/

header {
	background-color: #000;
	color: #fff;
	border-bottom: #fefefe solid 1px;
	overflow: hidden;
	padding: 15px 0 10px 15px;
}

header a {
	float: left;
}

nav {
	float: right;
}

nav li {
	display: inline-block;
	margin-right: 15px;
}

nav a {
	text-decoration: none;
	color: #fff;
}

nav a:hover {
	color: #00B7FF;
}

/***********LANDING PAGE************/

#mainlogo {
	width: 461px;
	text-align: center;
	margin: 0 auto;
}

#mainlogo img {
	margin: 40px 0 20px 0;
}

#mainlogo p {
	margin-bottom: 20px;
}

/***********FORM PAGES************/

#signupform,
#edituserform,
#addmusicform {
	float: left;
}

#signupform h1,
#edituserform h1,
#addmusicform h1 {
	text-align: center;
	margin: 30px 0 30px 0;
}

#records {
	float: left;
	margin: 80px 0 0 40px;
}

/***********SUCCESS PAGE************/

#success {
	margin-top: 200px;
	text-align: center;
}

#success p {
	margin-top: 20px;
}

/***********LOGIN PAGE************/

#login {
	width: 345px;
	margin: 150px auto 0 auto;
	border: 2px solid #ddd;
	border-radius: 30px;
	padding: 20px 20px 40px 20px;
	background-color: #191919;
}

#login h1 {
	text-align: center;
	margin-bottom: 20px;
}

/***********USER DASH************/

#user {
	border-radius: 10px;
	padding: 20px;
	background-color: #444444;
	margin: 20px 0 0 0;
	overflow: auto;
	box-shadow: 
	inset 0 0 20px  rgba(0,0,0,0.6),
	      0 0 40px rgba(0,0,0,0.6);
  background: rgba(255,255,255,0.5);
}

.avatar {
	float: left;
	margin: 0 20px 0 0;
}

#user-details {
	color: #212121;
	float: left;
}

#add-release {
	width: 100px;
	height: 200px;
	float: right;
	color: #fff;
	box-shadow: 
	inset 0 0 20px  rgba(0,0,0,0.6);
  background: rgba(0,183,255,0.5);
  border-radius: 5px;
  position: relative;
}

#add-release a {
	color: #fff;
	text-decoration: none;
	text-align: center;
}

#add-release a:hover {
	color: #212121;
}

#add-release a:active {
	color: #444444;
}

#add-release span {
	position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.plus {
	font-size: 4em;
	font-weight: bold;
	margin-top: 30px;
}

.add-rel-txt {
	font-size: 1.8em;
}

#left-side {
	float: left;
	clear: both;
	width: 550px;
	margin: 40px 20px 0 0;
}

#right-side {
	float: left;
	width: 350px;
	margin: 40px 0 0 0;
}

/***********ADD/EDIT PAGES************/

#upload-av, 
#upload-art {
	width: 200px;
	padding: 20px;
	background-color: #DEDEDE;
	float: left;
	color: #000;
	border-radius: 5px;
	margin: 95px 0 0 50px;
}

#upload-av img,
#upload-art img {
	margin-bottom: 10px;
}

.editlink {
	margin: 9px 0 0 100px;
}



/***********MUSIC USER PAGE************/

#music {
	border-radius: 10px;
	padding: 20px;
	background-color: #444444;
	margin: 20px 0 0 0;
	overflow: auto;
	box-shadow: 
	inset 0 0 20px  rgba(0,0,0,0.6),
	      0 0 40px rgba(0,0,0,0.6);
  background: rgba(255,255,255,0.5);
}

#left-col{
	float: left;
	width: 200px;
}

#centre {
	width: 500px;
	margin: 0 0 0 220px;
}

#right-col {
	float: right;
	width: 200px;
}

.arrow {
	float: right;
	margin: 3px;
	cursor: pointer;
}

.flip-vertical {
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: flipv; /*IE*/
}

#music-details {
	color: #212121;
}

#rating {
	color: #fff;
	text-align: center;
}

#rating-label {
	position: absolute;
	margin: 59px 0 0 69px;
  display: block;
  font-size: 3em;
  text-align: center;
  color: white;
}

#review-div {
	width: 200px;
	margin: 35px 0 0 0;
}

#review-text {
	background-color: #B2B2B2;
	padding: 10px;
	border: 1px solid gray;
}

#review-text p {
	line-height: 1.4em;
}

#tracklist {
	margin: 45px 0 0 0;
} 

#edit-tracklist {
	margin: 80px 0 0 0;
}

#comments {
	margin: 20px 0 0 0;
}

#tracklist li,
#comments li, 
#results li,
#edit-tracklist li,
#your-collection li,
#your-comments li {
	padding: 10px;
	border: 1px solid gray;
	border-bottom: none;
	list-style-type: none;
	background-color: #B2B2B2;
}

#tracklist li:last-child,
#comments li:last-child,
#results li:last-child,
#edit-tracklist li:last-child,
#your-collection li:last-child,
#your-comments li:last-child {
	border-bottom: 1px solid gray;
}

.comment-username {
	color: #212121;
}

.block-header {
	border-bottom: none;
	padding: 10px;
	margin: 0;
	background-color: #303030;
}

.block {
	border: 1px solid gray;
	background-color: #B2B2B2;
	padding: 10px;
}

#player-div {
	margin: 28px 0 0 20px;
	width: 180px;
	background-color: #B2B2B2;
}

#current-play {
	font-size: 0.8em;
	padding: 10px;
}

audio {
	width: 180px;
	height: 27px;
	margin: 0;
}

#player-items {
	overflow: hidden;
}

#add-comment {
	width: 320px;
	margin: 0 0 0 40px;
}

#add-comment-form {
	padding: 10px;
	border: 1px solid gray;
	border-bottom: none;
	background-color: #B2B2B2;
	overflow: hidden;
}

#add-comment-form button {
	margin: 10px 0 0 0;
}

.details {
	margin-bottom: 9px;
}

.details-link {
	margin-right: 9px;
	color: #0078A6;
}

.play-btn {
	float: right;
	margin-bottom: 1px;
	cursor: pointer;
}

/***********SEARCH PAGE************/

.centre-head {
	text-align: center;
	margin: 40px;
}

#search {
	width: 400px;
	margin: 40px auto 0 auto;
}

#search h1 {
	text-align: center;
}

#search p {
	display: inline;
	font-size: 1.2em;
}

#search-form {
	text-align: center;
}

#search-box {
	font-size: 16px;
}

#search-form button {
	float: none;
	margin: 10px;
}

#user-p {
	margin-left: 76px;
}

#music-p {
	margin-left: 158px;
}

.search-img {
	margin: 25px;
	opacity: 0.5;
}

.search-img-border {
	border: 4px solid #00B7FF;
	margin: 21px;
	opacity: 1;
}

#results {
	width: 600px;
	margin: 0 auto;
}

#results-msg {
	padding: 10px;
	background-color: #595959;
	color: #fff;
	font-size: 1.2em;
}

#results-msg a {
	margin-left: 20px;
}

/***********EDIT TRACK PAGE************/

#edit-tracklist,
#add-tracks {
	width: 450px;
}

#edit-tracklist {
	float: left;
	clear: both;
	margin: 40px 20px 0 0;
}

#add-tracks {
	float: left;
	margin: 40px 0 0 0;

}

#add-track-form {
	padding: 20px 20px 40px 20px;
	background-color: #B2B2B2;
}

#add-track-input {
	width: 290px;
}

#progbar {
	display: none;
};